/* Navbar */

nav.navbar {
    display: flex;
    justify-content: center;
}

button.nav-btn {
    padding: 0 1em;
    background-color: transparent;
    border: none;
}

button.nav-btn.calendar-btn {
    border-left: .1em solid black;
}

/* Projects Index */

div.prj-index {
    padding: 0 2em;
    display: grid;
    height: 80vh;
    align-content: start;
}

header > h1 {
    margin: 0;
}

.prj-index > .projects {
    display: grid;   
}

/* Modal */

div.modal {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    min-width: 100%;
    min-height: 100%;
}

div.prj-mod > form {
    align-self: center;
    justify-self: center;
    border: .1em solid black;
    background-color: white;
    display: grid;
    padding: 1em;
}

form > div > label {
    display: grid;
    grid-auto-flow: row;
}