/* Header */
header.main-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

/* Navbar */
nav.navbar {
    display: flex;
    justify-content: center;
}

button.nav-btn {
    padding: 1em;
    background: none;
    border: none;
}

button.nav-btn.calendar-btn {
    border-left: .1em solid black;
}

/* Projects Index */

div.index {
    padding: 0 2em;
    display: grid;
    gap: 1em;
    height: 80vh;
    align-content: start;
}

header.prj-head {
    display: flex;
    align-items: center;
}

header.prj-head > h1 {
    margin: 0;
    flex-grow: 1;
}

.index > .projects {
    display: grid; 
    gap: 1em;  
}

/* Modal */

div.modal {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    min-width: 100%;
    min-height: 100%;
}

div.prj-mod > form {
    align-self: center;
    justify-self: center;
    border: .1em solid black;
    background-color: white;
    display: grid;
    padding: 1em;
}

form > div > label {
    display: grid;
    grid-auto-flow: row;
}

/* Project card */

div.project {
    display: grid;
    align-items: flex-start;
    grid-auto-flow: column;
    row-gap: .5em;
    column-gap: 4em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    padding: 1em;
    border: .1em solid black;
}

div.project > * {
    margin: 0;
}

/* Todo card */

div.todo {
    display: grid;
    align-items: flex-start;
    grid-auto-flow: column;
    row-gap: .5em;
    column-gap: 4em;
    grid-template-rows: repeat(3, fit-content(10px));
    grid-template-columns: 3fr 1fr;
    padding: 1em;
    border: .1em solid black;
}

div.todo > * {
    margin: 0;
}

div.todo > .c-box-cont {
    grid-column: span 2;
}

.c-box-cont > header {
    display: flex;
    gap: 1em;
}

.c-box-cont > header > h4 {
    margin: 0;
}


.react-calendar__tile.filled {
    background-color: red;
}