* {
    box-sizing: border-box;
}

html, body {
    max-height: 100vh;  
}

body {     
    margin: 0;
}

#root {
    max-height: 100vh;
    position: relative;
}

header > h2 {
    justify-self: center;
    margin: 0;
    margin-top: .5em;
}