/*Homepage styles*/
:root {
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
}

header > h2 {
    margin: 0;
}

div.container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
}

div.content {
    /*min-height: 100%;*/
    flex-grow: 1;
    
}
